In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
import os, glob
import pickle

In [23]:
def load_data(folder_path):
    df = pd.DataFrame()
    for file_path in glob.glob(os.path.join(folder_path, "*.pkl")):
        with open(file_path, "rb") as f:
            df_line = pd.DataFrame([pickle.load(f)])
        df = pd.concat([df, df_line], ignore_index=True)
    # df = df.dropna(subset=["critical_load"])
    # df = df.sort_values("date", ascending=False)
    return df

In [27]:
cols = ["type", "N", "n", "d", "total_time", "time_data_copy", "time_data_transfer", "time_computation", "pkl_file"]
folder_path = Path("output/")
data = load_data(folder_path)
data[cols].head()

,type,N,n,d,total_time,time_data_copy,time_data_transfer,time_computation,pkl_file
0,jax_multithreading,200,8,4,28.97,13.28,0.05,15.53,jax_multithreading_N_200_n_8_d_4.pkl
1,jax_multithreading,200,8,32,23.82,2.45,0.04,20.27,jax_multithreading_N_200_n_8_d_32.pkl
2,jax_multithreading,200,8,128,23.51,2.30,0.02,20.80,jax_multithreading_N_200_n_8_d_128.pkl
3,jax_multithreading,200,8,64,23.06,1.80,0.01,20.82,jax_multithreading_N_200_n_8_d_64.pkl
4,jax_multithreading,200,8,1,41.55,25.89,0.00,15.56,jax_multithreading_N_200_n_8_d_1.pkl

In [28]:
data[cols].sort_values("d")

,type,N,n,d,total_time,time_data_copy,time_data_transfer,time_computation,pkl_file
4,jax_multithreading,200,8,1,41.55,25.89,0.00,15.56,jax_multithreading_N_200_n_8_d_1.pkl
5,jax_multithreading,200,8,2,32.70,17.09,0.01,15.48,jax_multithreading_N_200_n_8_d_2.pkl
0,jax_multithreading,200,8,4,28.97,13.28,0.05,15.53,jax_multithreading_N_200_n_8_d_4.pkl
7,jax_multithreading,200,8,8,27.10,10.30,0.03,16.32,jax_multithreading_N_200_n_8_d_8.pkl
6,jax_multithreading,200,8,16,25.62,7.48,0.01,17.40,jax_multithreading_N_200_n_8_d_16.pkl
1,jax_multithreading,200,8,32,23.82,2.45,0.04,20.27,jax_multithreading_N_200_n_8_d_32.pkl
3,jax_multithreading,200,8,64,23.06,1.80,0.01,20.82,jax_multithreading_N_200_n_8_d_64.pkl
2,jax_multithreading,200,8,128,23.51,2.30,0.02,20.80,jax_multithreading_N_200_n_8_d_128.pkl

In [22]:
data[cols].sort_values("d")

,type,N,n,d,total_time,time_data_copy,time_data_transfer,time_computation,pkl_file
4,jax_multithreading,200,8,1,41.53,25.78,0.00,15.61,jax_multithreading_N_200_n_8_d_1.pkl
5,jax_multithreading,200,8,2,32.77,17.00,0.04,15.59,jax_multithreading_N_200_n_8_d_2.pkl
0,jax_multithreading,200,8,4,28.77,13.24,0.00,15.37,jax_multithreading_N_200_n_8_d_4.pkl
7,jax_multithreading,200,8,8,26.64,10.31,0.01,15.88,jax_multithreading_N_200_n_8_d_8.pkl
6,jax_multithreading,200,8,16,25.49,7.34,0.00,17.37,jax_multithreading_N_200_n_8_d_16.pkl
1,jax_multithreading,200,8,32,23.74,2.70,0.00,20.00,jax_multithreading_N_200_n_8_d_32.pkl
3,jax_multithreading,200,8,64,22.99,1.71,0.00,20.71,jax_multithreading_N_200_n_8_d_64.pkl
2,jax_multithreading,200,8,128,23.36,2.10,0.01,20.77,jax_multithreading_N_200_n_8_d_128.pkl

In [22]:
df_filter = (data["type"] == "jax_gpu") & (data["N"] == 300)
df_slice = data[df_filter].sort_values("n")
df_slice[cols]

,type,N,n,d,total_time,time_data_copy,time_data_transfer,time_computation,pkl_file
3,jax_gpu,300,2,NaN,27.03,0.54,0.04,25.90,jax_gpu_N_300_n_2_d_4.pkl
33,jax_gpu,300,4,NaN,26.79,0.63,0.05,25.78,jax_gpu_N_300_n_4_d_4.pkl
47,jax_gpu,300,8,NaN,27.81,0.72,0.01,26.75,jax_gpu_N_300_n_8_d_4.pkl
23,jax_gpu,300,16,NaN,31.66,1.10,0.04,30.16,jax_gpu_N_300_n_16_d_4.pkl

In [15]:
df_filter = (data["n"] == 8) & (data["N"] == 200)
df_slice = data[df_filter].sort_values("d")
df_slice[cols]

,type,N,n,d,total_time,time_data_copy,time_data_transfer,time_computation,pkl_file
15,jax_multithreading,200,8,1.0,55.54,39.56,0.00,15.88,jax_multithreading_N_200_n_8_d_1.pkl
9,jax_multithreading,200,8,2.0,50.94,32.80,0.01,17.08,jax_multithreading_N_200_n_8_d_2.pkl
55,jax_multithreading,200,8,4.0,138.85,82.97,0.03,53.82,jax_multithreading_N_200_n_8_d_4.pkl
46,jax_multithreading,200,8,8.0,184.63,123.99,0.05,57.58,jax_multithreading_N_200_n_8_d_8.pkl
51,jax_multithreading,200,8,16.0,74.46,42.11,0.04,28.33,jax_multithreading_N_200_n_8_d_16.pkl
11,jax_multithreading,200,8,32.0,186.61,103.03,0.01,75.10,jax_multithreading_N_200_n_8_d_32.pkl
48,jax_multithreading,200,8,64.0,193.57,78.37,0.06,99.41,jax_multithreading_N_200_n_8_d_64.pkl
37,jax_multithreading,200,8,132.0,153.44,2.18,0.03,138.25,jax_multithreading_N_200_n_8_d_132.pkl
22,jax_multithreading,200,8,256.0,99.88,2.78,0.02,95.20,jax_multithreading_N_200_n_8_d_256.pkl
13,standard,200,8,NaN,80.28,61.74,0.00,17.99,standard_N_200_n_8.pkl
23,jax_gpu,200,8,NaN,25.74,0.72,0.01,24.68,jax_gpu_N_200_n_8_d_4.pkl

In [9]:
df_filter = (data["n"] == 8) & (data["N"] == 200)
df_slice = data[df_filter].sort_values("d")
df_slice[cols]

,type,N,n,d,total_time,time_data_copy,time_data_transfer,time_computation,pkl_file
15,jax_multithreading,200,8,1.0,77.07,58.97,0.00,17.66,jax_multithreading_N_200_n_8_d_1.pkl
9,jax_multithreading,200,8,2.0,88.43,65.58,0.00,21.06,jax_multithreading_N_200_n_8_d_2.pkl
55,jax_multithreading,200,8,4.0,105.43,77.25,0.00,25.37,jax_multithreading_N_200_n_8_d_4.pkl
46,jax_multithreading,200,8,8.0,129.29,93.57,0.01,30.13,jax_multithreading_N_200_n_8_d_8.pkl
51,jax_multithreading,200,8,16.0,114.85,64.37,0.02,39.91,jax_multithreading_N_200_n_8_d_16.pkl
11,jax_multithreading,200,8,32.0,325.58,204.34,0.07,101.26,jax_multithreading_N_200_n_8_d_32.pkl
48,jax_multithreading,200,8,64.0,346.33,156.97,0.03,152.27,jax_multithreading_N_200_n_8_d_64.pkl
37,jax_multithreading,200,8,132.0,153.44,2.18,0.03,138.25,jax_multithreading_N_200_n_8_d_132.pkl
22,jax_multithreading,200,8,256.0,504.25,12.05,0.07,452.07,jax_multithreading_N_200_n_8_d_256.pkl
13,standard,200,8,NaN,80.28,61.74,0.00,17.99,standard_N_200_n_8.pkl
23,jax_gpu,200,8,NaN,25.74,0.72,0.01,24.68,jax_gpu_N_200_n_8_d_4.pkl

In [4]:
df_filter = (data["n"] == 8) & (data["N"] == 200)
df_slice = data[df_filter].sort_values("d")
df_slice[cols]

,type,N,n,d,total_time,time_data_copy,time_data_transfer,time_computation,pkl_file
15,jax_multithreading,200,8,1.0,85.42,65.19,0.00,19.44,jax_multithreading_N_200_n_8_d_1.pkl
9,jax_multithreading,200,8,2.0,89.69,66.11,0.00,21.49,jax_multithreading_N_200_n_8_d_2.pkl
50,jax_multithreading,200,8,4.0,106.06,77.57,0.01,25.49,jax_multithreading_N_200_n_8_d_4.pkl
42,jax_multithreading,200,8,8.0,131.07,94.95,0.04,30.37,jax_multithreading_N_200_n_8_d_8.pkl
47,jax_multithreading,200,8,16.0,114.74,64.28,0.01,39.81,jax_multithreading_N_200_n_8_d_16.pkl
11,jax_multithreading,200,8,32.0,117.75,44.35,0.02,59.10,jax_multithreading_N_200_n_8_d_32.pkl
44,jax_multithreading,200,8,64.0,131.93,16.20,0.01,91.79,jax_multithreading_N_200_n_8_d_64.pkl
35,jax_multithreading,200,8,132.0,157.98,2.38,0.05,135.91,jax_multithreading_N_200_n_8_d_132.pkl
22,jax_multithreading,200,8,256.0,127.89,1.75,0.03,124.47,jax_multithreading_N_200_n_8_d_256.pkl
13,standard,200,8,NaN,239.97,186.22,0.00,52.88,standard_N_200_n_8.pkl

In [4]:
df_filter = (data["type"] == "jax_multithreading") & (data["n"] == 2) & (data["N"] == 100)
df_slice = data[df_filter].sort_values("d")
df_slice[cols]

,type,N,n,d,total_time,time_data_copy,time_data_transfer,pkl_file
20,jax_multithreading,100,2,1.0,232.45,178.94,0.00,jax_multithreading_N_100_n_2_d_1.pkl
22,jax_multithreading,100,2,2.0,77.67,60.35,0.00,jax_multithreading_N_100_n_2_d_2.pkl
11,jax_multithreading,100,2,4.0,77.57,59.54,0.04,jax_multithreading_N_100_n_2_d_4.pkl
2,jax_multithreading,100,2,8.0,103.45,85.60,0.01,jax_multithreading_N_100_n_2_d_8.pkl
5,jax_multithreading,100,2,16.0,105.42,86.76,0.02,jax_multithreading_N_100_n_2_d_16.pkl
19,jax_multithreading,100,2,32.0,106.27,85.19,0.02,jax_multithreading_N_100_n_2_d_32.pkl

In [92]:
df_filter = (data["type"] == "jax_multithreading") & (data["n"] == 2) & (data["N"] == 100)
df_slice = data[df_filter].sort_values("d")
df_slice[cols]

,type,N,n,d,total_time,time_data_copy,time_data_transfer,pkl_file
20,jax_multithreading,100,2,1.0,232.45,178.94,0.00,jax_multithreading_N_100_n_2_d_1.pkl
22,jax_multithreading,100,2,2.0,77.30,60.32,0.01,jax_multithreading_N_100_n_2_d_2.pkl
11,jax_multithreading,100,2,4.0,77.62,59.72,0.02,jax_multithreading_N_100_n_2_d_4.pkl
2,jax_multithreading,100,2,8.0,103.24,84.97,0.01,jax_multithreading_N_100_n_2_d_8.pkl
5,jax_multithreading,100,2,16.0,105.21,86.65,0.02,jax_multithreading_N_100_n_2_d_16.pkl
19,jax_multithreading,100,2,32.0,107.27,81.94,0.00,jax_multithreading_N_100_n_2_d_32.pkl

In [86]:
df_filter = (data["type"] == "jax_multithreading") & (data["n"] == 2) & (data["N"] == 100)
df_slice = data[df_filter].sort_values("d")
df_slice[cols]

,type,N,n,d,total_time,time_data_copy,time_data_transfer,pkl_file
20,jax_multithreading,100,2,1.0,232.93,179.22,0.00,jax_multithreading_N_100_n_2_d_1.pkl
22,jax_multithreading,100,2,2.0,77.46,0.15,0.02,jax_multithreading_N_100_n_2_d_2.pkl
11,jax_multithreading,100,2,4.0,77.55,0.21,0.03,jax_multithreading_N_100_n_2_d_4.pkl
2,jax_multithreading,100,2,8.0,103.42,0.20,0.00,jax_multithreading_N_100_n_2_d_8.pkl
5,jax_multithreading,100,2,16.0,105.12,0.25,0.00,jax_multithreading_N_100_n_2_d_16.pkl
19,jax_multithreading,100,2,32.0,107.56,0.30,0.02,jax_multithreading_N_100_n_2_d_32.pkl

In [84]:
df_filter = (data["type"] == "jax_multithreading") & (data["n"] == 4) & (data["N"] == 100)
df_slice = data[df_filter].sort_values("d")
df_slice[cols]

,type,N,n,d,total_time,time_data_copy,time_data_transfer,pkl_file
3,jax_multithreading,100,4,1.0,49.45,32.04,0.01,jax_multithreading_N_100_n_4_d_1.pkl
0,jax_multithreading,100,4,2.0,49.80,31.97,0.01,jax_multithreading_N_100_n_4_d_2.pkl
12,jax_multithreading,100,4,4.0,49.76,31.63,0.00,jax_multithreading_N_100_n_4_d_4.pkl
6,jax_multithreading,100,4,8.0,64.40,45.86,0.00,jax_multithreading_N_100_n_4_d_8.pkl
4,jax_multithreading,100,4,16.0,64.11,45.22,0.01,jax_multithreading_N_100_n_4_d_16.pkl
13,jax_multithreading,100,4,32.0,70.37,39.57,0.00,jax_multithreading_N_100_n_4_d_32.pkl

In [78]:
df_filter = (data["type"] == "jax_multithreading")
df_slice = data[df_filter].sort_values("d")
df_slice[cols]

,type,N,n,d,total_time,time_data_copy,time_data_transfer,pkl_file
13,jax_multithreading,100,2,1.0,232.93,179.22,0.00,jax_multithreading_N_100_n_2_d_1.pkl
10,jax_multithreading,50,2,2.0,97.20,42.09,0.01,jax_multithreading_N_50_n_2_d_2.pkl
15,jax_multithreading,100,2,2.0,74.22,56.91,0.02,jax_multithreading_N_100_n_2_d_2.pkl
7,jax_multithreading,100,2,4.0,74.57,56.67,0.00,jax_multithreading_N_100_n_2_d_4.pkl
1,jax_multithreading,100,2,8.0,99.55,81.85,0.01,jax_multithreading_N_100_n_2_d_8.pkl
2,jax_multithreading,100,2,16.0,101.36,83.03,0.00,jax_multithreading_N_100_n_2_d_16.pkl

In [7]:
df_filter = (data["type"] == "jax_multithreading") & (data["n"] == 2) & (data["N"] == 500)
df_slice = data[df_filter].sort_values("d")
df_slice[cols]

,type,N,n,d,total_time,time_data_copy,time_data_transfer,time_computation,pkl_file
17,jax_multithreading,500,2,2.0,1715.69,1694.13,0.50,NaN,jax_multithreading_N_500_n_2_d_2.pkl
24,jax_multithreading,500,2,4.0,1702.59,1675.49,0.38,NaN,jax_multithreading_N_500_n_2_d_4.pkl
33,jax_multithreading,500,2,8.0,2392.46,2357.67,0.38,NaN,jax_multithreading_N_500_n_2_d_8.pkl
8,jax_multithreading,500,2,16.0,2407.48,2362.76,0.46,NaN,jax_multithreading_N_500_n_2_d_16.pkl
9,jax_multithreading,500,2,32.0,2419.14,2352.47,0.43,NaN,jax_multithreading_N_500_n_2_d_32.pkl

In [5]:
df_filter = (data["type"] == "jax_multithreading") & (data["n"] == 2) & (data["N"] == 200)
df_slice = data[df_filter].sort_values("d")
df_slice[cols]

,type,N,n,d,total_time,time_data_copy,time_data_transfer,time_computation,pkl_file
21,jax_multithreading,200,2,1.0,788.60,731.82,0.02,53.66,jax_multithreading_N_200_n_2_d_1.pkl
7,jax_multithreading,200,2,2.0,793.01,733.89,0.01,57.90,jax_multithreading_N_200_n_2_d_2.pkl
19,jax_multithreading,200,2,4.0,796.78,734.18,0.15,61.24,jax_multithreading_N_200_n_2_d_4.pkl
1,jax_multithreading,200,2,8.0,1114.07,1044.93,0.18,66.90,jax_multithreading_N_200_n_2_d_8.pkl
22,jax_multithreading,200,2,16.0,388.54,349.62,0.07,37.00,jax_multithreading_N_200_n_2_d_16.pkl
16,jax_multithreading,200,2,32.0,324.81,268.82,0.04,52.63,jax_multithreading_N_200_n_2_d_32.pkl

In [14]:
cols = ["type", "N", "n", "total_time", "time_data_copy", "time_data_transfer", "time_computation", "pkl_file"]

df_filter = (data["type"] == "standard") & (data["N"] == 200)
df_slice = data[df_filter]
df_slice[cols]

,type,N,n,total_time,time_data_copy,time_data_transfer,time_computation,pkl_file
4,standard,200,2,752.88,700.74,0.0,51.75,standard_N_200_n_2_d_1.pkl
13,standard,200,8,67.77,44.74,0.0,22.26,standard_N_200_n_8.pkl
18,standard,200,4,139.34,NaN,NaN,NaN,NaN
36,standard,200,4,141.20,123.70,0.0,17.00,standard_N_200_n_4_d_1.pkl

In [12]:
import jax
import jax.numpy as jnp
a = jnp.array([1, 2, 3])
a.devices()

{CpuDevice(id=0)}

In [11]:
type(jax.device_get(a))

numpy.ndarray

In [31]:
np.random.seed(42)
arr = np.random.rand(17, 4)

arr
reshaped_arr = arr[:-(arr.shape[0] % n_devices)].reshape(-1, n_devices, arr.shape[1])
n_devices = 4
2546//4

636

In [59]:
def data_splitter(data, n_devices: int):
    """Reshape data to be distributed among devices.
    
    If the data size is not divisible by the number of devices, the data is
    padded with zeros.
    """
    local_size = data.shape[0] # local mpi size
    if local_size % n_devices != 0:
        splitted_data = np.full((local_size + (n_devices - local_size % n_devices), int(data.size/local_size)), 0.00000001)        
        splitted_data[:local_size, :] = data.reshape((local_size, -1))
    else:
        splitted_data = data
    return splitted_data.reshape(n_devices, -1, data.shape[1])

In [71]:
arr.shape

(17, 4)

In [61]:
arr2 = data_splitter(arr, 4)
arr2

array([[[3.74540119e-01, 9.50714306e-01, 7.31993942e-01, 5.98658484e-01],
        [1.56018640e-01, 1.55994520e-01, 5.80836122e-02, 8.66176146e-01],
        [6.01115012e-01, 7.08072578e-01, 2.05844943e-02, 9.69909852e-01],
        [8.32442641e-01, 2.12339111e-01, 1.81824967e-01, 1.83404510e-01],
        [3.04242243e-01, 5.24756432e-01, 4.31945019e-01, 2.91229140e-01]],

       [[6.11852895e-01, 1.39493861e-01, 2.92144649e-01, 3.66361843e-01],
        [4.56069984e-01, 7.85175961e-01, 1.99673782e-01, 5.14234438e-01],
        [5.92414569e-01, 4.64504127e-02, 6.07544852e-01, 1.70524124e-01],
        [6.50515930e-02, 9.48885537e-01, 9.65632033e-01, 8.08397348e-01],
        [3.04613769e-01, 9.76721140e-02, 6.84233027e-01, 4.40152494e-01]],

       [[1.22038235e-01, 4.95176910e-01, 3.43885211e-02, 9.09320402e-01],
        [2.58779982e-01, 6.62522284e-01, 3.11711076e-01, 5.20068021e-01],
        [5.46710279e-01, 1.84854456e-01, 9.69584628e-01, 7.75132823e-01],
        [9.39498942e-01, 8.94827350e-01, 5.97899979e-01, 9.21874235e-01],
        [8.84925021e-02, 1.95982862e-01, 4.52272889e-02, 3.25330331e-01]],

       [[3.88677290e-01, 2.71349032e-01, 8.28737509e-01, 3.56753327e-01],
        [2.80934510e-01, 5.42696083e-01, 1.40924225e-01, 8.02196981e-01],
        [1.00000000e-08, 1.00000000e-08, 1.00000000e-08, 1.00000000e-08],
        [1.00000000e-08, 1.00000000e-08, 1.00000000e-08, 1.00000000e-08],
        [1.00000000e-08, 1.00000000e-08, 1.00000000e-08, 1.00000000e-08]]])

In [55]:
arr2.flatten()[:arr.size].reshape(arr.shape)

array([[0.37454012, 0.95071431, 0.73199394, 0.59865848],
       [0.15601864, 0.15599452, 0.05808361, 0.86617615],
       [0.60111501, 0.70807258, 0.02058449, 0.96990985],
       [0.83244264, 0.21233911, 0.18182497, 0.18340451],
       [0.30424224, 0.52475643, 0.43194502, 0.29122914],
       [0.61185289, 0.13949386, 0.29214465, 0.36636184],
       [0.45606998, 0.78517596, 0.19967378, 0.51423444],
       [0.59241457, 0.04645041, 0.60754485, 0.17052412],
       [0.06505159, 0.94888554, 0.96563203, 0.80839735],
       [0.30461377, 0.09767211, 0.68423303, 0.44015249],
       [0.12203823, 0.49517691, 0.03438852, 0.9093204 ],
       [0.25877998, 0.66252228, 0.31171108, 0.52006802],
       [0.54671028, 0.18485446, 0.96958463, 0.77513282],
       [0.93949894, 0.89482735, 0.59789998, 0.92187424],
       [0.0884925 , 0.19598286, 0.04522729, 0.32533033],
       [0.38867729, 0.27134903, 0.82873751, 0.35675333],
       [0.28093451, 0.54269608, 0.14092422, 0.80219698]])

In [22]:
2546//8
2546%8
(2546+6)/8

319.0

In [15]:
(2546+2)/4

637.0

In [14]:
reshaped_arr.shape

(636, 4, 4)

In [11]:
636*4

2544

In [26]:
data

,N,type,total_time,n,pkl_file,time_data_copy,time_data_transfer
0,50,distributed_jax_several_hosts,24.25,4,distributed_jax_several_hosts_N_50_n_4.pkl,NaN,NaN
1,500,standard,854.64,4,NaN,NaN,NaN
2,200,distributed_jax_several_hosts,140.15,4,NaN,NaN,NaN
3,200,standard,139.34,4,NaN,NaN,NaN
4,500,distributed_jax,857.18,4,NaN,NaN,NaN
5,50,standard,24.14,4,standard_N_50_n_4.pkl,NaN,NaN
6,50,distributed_jax_several_hosts,16.15,2,distributed_jax_several_hosts_N_50_n_2_d_[CpuD...,0.06,0.0
7,300,distributed_jax,297.12,4,NaN,NaN,NaN
8,500,distributed_jax_several_hosts,791.88,4,NaN,NaN,NaN
9,200,distributed_jax,139.07,4,NaN,NaN,NaN
10,300,standard,300.66,4,NaN,NaN,NaN
11,200,distributed_jax_several_hosts,766.75,2,distributed_jax_several_hosts_N_200_n_2.pkl,NaN,NaN
12,50,distributed_jax_several_hosts,28.29,2,distributed_jax_several_hosts_N_50_n_2.pkl,12.48,NaN
13,50,distributed_jax,71.07,2,distributed_jax_N_50_n_2.pkl,NaN,NaN
14,50,distributed_jax,24.35,4,distributed_jax_N_50_n_4.pkl,NaN,NaN

In [5]:
import jax

In [8]:
jax.devices()

[CpuDevice(id=0)]